{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subscribe Time!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Acme|Muli" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/sub.js' %}" type="text/javascript" rel="script"></script>
  </head>

  <body>
    <h1 align="center">Fill to Subscribe</h1>
    <section class="form-container">
        <div class="errorlist"><p></p></div>
        <form id="form" class="form" method="POST">
            {% csrf_token %}
            {% for form in form %}
                <div class="form-group">
                    {{ form.label_tag }}
                    {{ form }}
                </div>
            {% endfor %}
            <div class="form-btn">
                <button id="submit-btn" type="submit" value="Submit" class="btn" disabled>Submit</button>
            </div>
        </form>
    </section>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Confirmation Box!</h4>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p class="errorlist"></p>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <input type="password" id="input-password" class="form-control" placeholder="Input Password">
                        <input id='ok' type="button" class="btn btn-primary" onclick="unsubscribe()" value="Confirm">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <br>
    <h3 align="center">Subscribers List</h3>
    <section class="result-container container-fluid">
        {% csrf_token %}
        <table id="table" class="table table-hover table-striped table-bordered">
            <thead class="thead-light">
            <tr align="center">
                <th>Name</th>
                <th>Email</th>
                <th>Button</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </section>
  </body>
</html>
