{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Time!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Acme|Muli" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/profile.js' %}" type="text/javascript" rel="script"></script>
  </head>
  <body id="body" class="body" onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
      <br>
      <button id="buttonTheme" type="button" class="btn btn-outline-dark" onclick="ubahTema.call(this)">Change Theme</button>
      <br>
      <h1 align="center">Hello</h1>
      <div class="container-fluid">
        <div class="user-image"><img class="user-image" src="{% static 'images/profile.jpg' %}"></div>
        <br>
        <div class="user-content">
          <p>Hello my name is Jose. Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br></p>
        </div>
      </div>
      <br>
      <section class="org" id="text">
        <div id="accordion" class="accordion">
          <h3>Education</h3>
            <div class="user-content">
              <p>Currently studying Computer Science in University of Indonesia.<br>An alumnus of SMAK 5 Penabur Jakarta.</p>
            </div>

          <h3>Experiences</h3>
            <div class="user-content">
              <p>Vice Head of FLOCS (Fun Lens of Computer Science), a photography community in Faculty of Computer Science, University of Indonesia</p>
            </div>

          <h3>Organisations</h3>
            <div class="user-content">
              <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at<br>
                  aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non<br>
                  quam. In suscipit faucibus urna.</p>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
