h1 {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  color:
}

html, body {
  font-family: 'Muli', sans-serif;
  background-image: linear-gradient(-90deg, #5BC0EB, #ACFCD9);
}

.form-status {
  border: solid 2px black;
  border-radius: 20px;
  display: flex;
  padding: 2%;
  width: 47rem;
  max-width: 47rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    border: solid 2px black;
    margin-bottom: 1rem;
    width: 50%;
    background-color: white;
    word-break: break-word;
}

.result-box:hover {
    transition: 0.5s;
    background-color: orange;
    cursor: pointer;
}

.result-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#counter {
    color: #555555;
    margin-bottom: 0;
}

.submit-button input {
    background-color: #E88D67;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    height: 2rem;
}

.submit-button input:hover {
    transition: 0.5s;
    background-color: #C6E2E9;
    color: white;
    cursor: pointer;
}

.text-field {
    width: 44rem;
    height: 3rem;
    border: solid 1px black;
}

.counter-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas {
    margin-right: 0.2rem;
}

@media screen and (max-width: 768px) {
    .text-field {
        width: 20rem;
    }

    .result-box {
        width: 100%;
    }

    .form-section {
        padding-left: 4%;
        padding-right: 4%;
    }

    body {
        height: 100vh;
    }

}
