h1 {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  color: white;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.body-dark {
  background-image: linear-gradient(-90deg, #232528, #2A2A72);
  font-family: 'Muli', sans-serif;
  color: #FCFCFC;
  text-align: center;
}

.darktext {
  color: #FCFCFC;
}

h3 {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  justify-content: center;
}

.user-image img {
  align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.body {
  font-family: 'Muli', sans-serif;
  background-image: linear-gradient(-90deg, #5BC0EB, #ACFCD9);
  text-align: center;
}

.lighttext {
  color: black;
}

.form-status {
  border: solid 2px black;
  display: flex;
  padding: 2%;
  width: 47rem;
  max-width: 47rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: solid 2px black;
    margin-bottom: 1rem;
    width: 50%;
    background-color: white;
    word-break: break-word;
}

.result-box:hover {
    transition: 0.5s;
    background-color: orange;
    cursor: pointer;
}

.result-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#counter {
    color: #555555;
    margin-bottom: 0;
}

.submit-button input {
    background-color: #E88D67;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    height: 2rem;
}

.submit-button input:hover {
    transition: 0.5s;
    background-color: #C6E2E9;
    color: white;
    cursor: pointer;
}

.text-field {
    width: 44rem;
    height: 3rem;
    border: solid 1px black;
}

.counter-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas {
    margin-right: 0.2rem;
}

@media screen and (max-width: 768px) {
    .text-field {
        width: 20rem;
    }

    .result-box {
        width: 100%;
    }

    .form-section {
        padding-left: 4%;
        padding-right: 4%;
    }

    body {
        height: 100vh;
    }

}
