.body-dark {
  background-image: linear-gradient(-90deg, #232528, #2A2A72);
  font-family: 'Muli', sans-serif;
  color: white;
}

.h3 {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  color: white;
  align: center;
}
